<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ingredients</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

    <table border="1">
        <tr>
            <th>Ingredient</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr>
            <th>Broccoli</th>
            <th>$9.41</th>
            <th>
                <button type="button">Out of Stock</button>
            </th>
        </tr>
    </table>

</body>
<script type="text/javascript" src="javascripts/main.js"></script>
</html>
