<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ingredients</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

    <table border="1">
        <tr>
            <th>Ingredient</th>
            <th>Price</th>
            <th></th>
        </tr>
        {{#each ingredients}}
            <tr>
                <th>{{name}}</th>
                <th>{{price}}</th>
                <th>
                    <button type="button">Out of Stock</button>
                </th>

                <th>
                    <button type="button">Edit</button>
                </th>
            </tr>

        {{/each}}

    </table>

    <form id="addForm" action="getIngredients" method="POST">
        Name: <input type="text" name="name"/><br/>
        Price: $<input type="number" min="0.00" step="0.01" /> <br/>
        <input type="submit" value="Add">
    </form>

</body>
<script type="text/javascript" src="javascripts/main.js"></script>
</html>
