<!doctype html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.10/css/xeditable.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.10/js/xeditable.js"></script>
	</script>

	<title>Todo App</title>

	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body ng-controller="mainController">
	    <div class="container">

	        <!-- HEADER AND TODO COUNT -->
	        <div class="jumbotron text-center">
	            <h1>Todo <span class="label label-info">{{ (todos|filter:{completed: false}).length }}</span></h1>
	        </div>
	        <!-- FORM TO CREATE TODOS -->
	        <div id="todo-form" class="row">
	        	<div class="col-sm-8 col-sm-offset-2 text-center">
                <form class="form" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" ng-model="formData.text">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                </form>
                </div>
	        </div>
	        <!-- TODO LIST -->
	        <div id="todo-list" class="row text-center">
	        <h1>Active Todos</h1>
	            <div class="col-sm-8 col-sm-offset-2">

	            	<div ng-repeat="todo in todos">
	            		<div ng-if="todo.completed == false">
		            		<a href="#" editable-text="todo.text" onaftersave="updateTodo(todo)">{{ todo.text }}</a>
		            		<button type="button" class="btn btn-success" ng-click="completeTodo(todo._id, true)">Complete</button>
		            		<button type="button" class="btn btn-danger" ng-click="deleteTodo(todo._id)">Delete</button>
	            		</div>
	            	</div>
	            </div>
	        </div>
	        <div id="todo-list" class="row text-center">
		        <h1>Completed Todos</h1>
	            <div class="col-sm-8 col-sm-offset-2">

	            	<div ng-repeat="todo in todos">
	            		<div ng-if="todo.completed == true">
		            		<a href="#" editable-text="todo.text" onaftersave="updateTodo(todo)">{{ todo.text }}</a>
		            		<button type="button" class="btn btn-warning" ng-click="completeTodo(todo._id, false)">Active</button>
		            		<button type="button" class="btn btn-danger" ng-click="deleteTodo(todo._id)">Delete</button>
	            		</div>
	            	</div>
	            </div>
            </div>
	    </div>
    </body>

	<script type="text/javascript" src="/javascripts/controller.js"></script>
</html>
