<div class="container">

    <div class="row">
        <div class="col-md-8">
            <form role="form" id="twote_form">
                <div class="form-group">
                    <label for="twote_text">Twote:</label>
                    <input name="twote_text" class="form-control input-lg" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <!-- <input type="submit" value="Twote"> -->
            </form>

            <div id="twote_div">
                {{#each twote_user}}
                    {{> twot}}
                {{/each}}

            </div>
        </div>
        <div class="col-md-4">
            Sup
        </div>
    </div>

</div>
