<form id="twote_form" action="/twote" method="post">
    <label for="twote_text">Twote</label>
    <br>
    <input name="twote_text" id="twote_text" required>
    <br>
    <input type="submit" value="Twote">
    <br>
    {{#each twote_user}}
        {{> twot}}
    {{/each}}
</form>
